</main>
<footer>
    <hr>
    <p>Assignment for CSE341: Web Backend II<br>
    Written by Sam Tindall<br>
    <span id="date"></span></p>
</footer>
<script>
    const month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var lastModified = new Date(document.lastModified);
    document.getElementById("date").innerHTML = "Last Updated: " + lastModified.getDate() + " " + month[lastModified.getMonth()] + ", " + lastModified.getFullYear();
</script>

</body>

</html>