<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>
		<meta name="description" content="<%= pageDesc %>" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Rubik&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
	</head>

	<body>
		<header>
			<div id="header-name"><h1>Sam Tindall</h1></div>
			<div id="header-course"><h1>CSE341</h1></div>
		</header>
		<main></main>
	</body>
</html>
