<% include ../includes/head.ejs %>
    <form action="/prove03/add-book" method="POST">
        <div class="form-area">
            <label for="title">Book Title: </label>
            <input type="text" name="title"><br>
            <label for="author">Author: </label>
            <input type="text" name="author"><br>
            <label for="summary">Summary: </label>
            <input type="text" name="summary"><br>
            <button type="submit">Submit</button>
        </div>    
    </form>
<% include ../includes/end.ejs %>