<!DOCTYPE html>
<html>
	<head>
		<% include ../../includes/header.ejs %>
	</head>

	<body>
		<% include ../../includes/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1><%= title %></h1>
			</div>
		</div>
		<div class="container">
			<h2>Add User</h2>
			<form action="/teamActivities/ta02/addUser" method="POST">
				<input type="text" name="username" />
				<button type="submit">Add</button>
			</form>
			<h2>Remove User</h2>
			<form action="/teamActivities/ta02/removeUser" method="POST">
				<input type="text" name="username" />
				<button type="submit">Remove</button>
			</form>
			<br />
			<table>
				<% for (i = 0; i < users.length; i++) { %>
				<tr>
					<td><%= users[i] %></td>
				</tr>
				<% } %>
			</table>
		</div>

		<script></script>
	</body>
</html>
